/* pokedex.css */

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('https://i.pinimg.com/736x/b0/c0/13/b0c013d0e19dfab5535f7c22f8ffd037.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

/* NAVBAR */
.navBar 
{

    display: flex;
    background-color: brown;
    align-items: center;
    height: 56px;

}

.logoBar img
{
    height: 56px;
    margin: 10px;
    margin-right: 10px;
}

.textobar
{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 30px;
    width: 20%;
}

.linkBar 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20%;
    gap: 20px;
}


.linkBar button
{   
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    background-color: aqua;
    padding: 1px;
    cursor: pointer;
}


span 
{
    color: #793300;
}


#botoes
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.botao
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

#botaoSubmit
{
    background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.482) 10%, rgba(21, 0, 255, 0.482) 90%);
}

.botao form
{
    display: flex;
    gap: 6px;
    flex-direction: column;
}
#busca
{
    border: 3px solid rgb(92, 46, 46);
    border-radius: 5px;
    width: 100%;
}








/* RESPONSIVO */
@media (max-width: 600px) {
    .container-principal {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-nav li {
        margin: 5px 0;
    }

    body {
        background-position: center center;
    }
}
