/* pokedex.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('https://i.pinimg.com/736x/b0/c0/13/b0c013d0e19dfab5535f7c22f8ffd037.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* NAVBAR */
#navegar {
    width: 100%;
    background-color: rgb(132, 17, 17);
    border-bottom: 15px solid #000;
}

.container-principal {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* logo à esquerda, links à direita */
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

/* LOGO */
.logo {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 22px;
}

.logo:hover {
    color: white;
    background-color: black;
    border-radius: 15px;
}

/* LINKS */
.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 15px; /* espaçamento entre links */
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}

.nav-link.active {
    color: #f0f0f0;
}

.nav-link:hover {
    background-color: black;
    color: whitesmoke;
    border-radius: 15px;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .container-principal {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-nav li {
        margin: 5px 0;
    }

    body {
        background-position: center center;
    }
}
